body {
    font-family: 'Poppins', sans-serif;
    color: #524132;
    font-weight: 600;
    background-image: url('../img/background-image.png');
    background-size: 100%;
}
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.to-do-list {
    font-family: 'Pattaya', sans-serif;
    font-size: 80px;
    font-weight: 400;
    color: #DD7676;
    text-align: center;
}
.cards {
    display: flex;
    gap: 60px;
    margin-bottom: 50px;
}
.card-prazo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-card {
    display: flex;
    gap: 10px;
}
.btn-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #EFAFAF;
    border-radius: 30px;
    border: none;
    width: 300px;
    height: 265px;
}
.btn-tarefas, .btn-add-tarefas {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #524132;
    background-color: #FFFA7F;
    box-shadow: #66757F 6px 6px 0 0;
    border-radius: 30px;
    border: none;
    padding: 10px 30px;
}
.notes {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-notes {
    display: flex;
    align-items: center;
    background-color: #DEFDE6;
    border: 2px solid #94D2A5;
    border-radius: 30px;
    width: 800px;
    height: 200px;
    padding: 20px 40px;
    gap: 40px;
}
.add-notes {
    width: 700px;
    height: 150px;
    padding: 10px;
}
.btn-add-notes {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFA7F;
    border: solid 2px #66757F;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    padding: 0; 
}
.rodape {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 60px;
    margin-bottom: 20px;
}
.rodape p {
    color: #66757F;
    font-size: 12px;
    font-weight: 400;
}
.contato {
    display: flex;
    gap: 15px;
}