* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
}
.tarefas-title {
    font-family: 'Pattaya', sans-serif;
    font-size: 80px;
    font-weight: 400;
    color: #DD7676;
    text-align: center;
    padding: 30px 40px;
    margin: 0;
}
.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
.add-tarefas {
    display: flex;
    justify-content: center;
    gap: 30px;
}
#input-tarefas {
    color: #524132;
    border-radius: 30px;
    border: 2px solid #DD7676;
    padding: 0 15px;
}
#input-tarefas:focus {
    outline: none;
}
.btns-page-tarefas{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.btn-inicio, .btn-add {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
    color:#524132;
    border: none;
    border-radius: 50px;
    background-color: #EFAFAF;
    padding: 10px;
    margin: 0;
    width: 90px;
}
.btn-inicio:hover, .btn-add:hover {
    background-color: #DD7676
}
.card-tarefas {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 300;
    background-color: #ffffff;
    border: 2px solid #DD7676;
    border-radius: 30px;
    box-shadow: #EFAFAF 10px 10px 0 0;
    min-height: 260px;
    max-height: auto;
    width: 500px;
    padding: 20px;
}
.card-tarefas div {
    display: flex;
    align-items: center;
    gap: 8px;
}
.card-tarefas div img {
    margin-left: auto;
}
:checked + span {
    text-decoration: line-through;
    color: #a27758;
}
input[type="checkbox" i] {
    accent-color: #DD7676;
}

@media (min-width: 200px) and (max-width: 580px){
    body {
        background-repeat:inherit
    }
    .tarefas-title {
        font-size: 50px;
        padding: 35px;
    }
    .add-tarefas {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 200px;
    }
    .add-tarefas input {
        height: 40px;
    }
    .btns-page-tarefas{
        gap: 10px;
    }
    .card-tarefas {
        box-shadow: #EFAFAF 8px 8px 0 0;
        height: 180px;
        width: 250px;
        padding: 20px;
    }
    .rodape p {
        font-size: 10px;
    }
    .rodape {
        display: flex;
        flex-direction: column;
        gap: 0;
        justify-content: center;
        align-items: center;
        padding: 50px 0 20px 0;
    }
    .contato img{
        width: 30px;
        height: 30px;
    }
}