* {
    box-sizing: border-box;
}
body, html {
    margin: 0;
}
.tela-inicial {
    display: flex;
    justify-content: center;
    gap: 60px;
}
.to-do-list {
    font-family: 'Pattaya', sans-serif;
    font-size: 80px;
    font-weight: 400;
    color: #DD7676;
    text-align: center;
    margin: 0;
    padding: 35px;
}
.telas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}
.card-prazo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-card {
    display: flex;
    gap: 10px;
}
.btn-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #EFAFAF;
    border-radius: 30px;
    border: none;
    width: 300px;
    height: 265px;
}
.btn-tarefas, .btn-add-tarefas {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #524132;
    background-color: #FFFA7F;
    box-shadow: #66757F 6px 6px 0 0;
    border-radius: 30px;
    border: none;
    padding: 10px 30px;
    text-decoration: none;
    cursor: pointer;
}
.btn-tarefas:hover, .btn-add-tarefas:hover{
    box-shadow: #74838e 5px 5px 0 0;
    padding: 8px 25px;
}

/* Modal */

.tela-modal {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #754d4d73;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-add-tarefas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: 2px solid #DD7676;
    border-radius: 30px;
    box-shadow: #EFAFAF 10px 10px 0 0;
    height: 200px;
    width: 300px;
    padding: 20px;
}
.add-tarefas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#input-tarefas {
    color: #524132;
    border-radius: 30px;
    border: 2px solid #DD7676;
    padding: 10px 15px;
}
#input-tarefas:focus {
    outline: none;
}
.btn-modal {
    display: flex;
    gap: 10px;
}
.btn-sair, .btn-add {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
    color:#524132;
    border: none;
    border-radius: 50px;
    background-color: #EFAFAF;
    padding: 10px 16px;
    width: 96px;
    margin: 0;
}
.btn-sair:hover, .btn-add:hover {
    background-color: #DD7676
}


@media (min-width: 200px) and (max-width: 500px){
    body {
        background-repeat:inherit
    }
    .to-do-list {
        font-size: 50px;
        padding: 35px;
    }
    .tela-inicial {
        flex-direction: column;
        gap: 40px;
    }
    .title-card {
        align-items: center;
        gap: 5px;
    }
    .title-card p{
        font-size: 14px;
    }
    .title-card img{
        width: 30px;
        height: 30px;
    }
    .btn-card {
        gap: 10px;
        width: 200px;
        height: 165px;
    }
    .btn-tarefas, .btn-add-tarefas {
        font-size: 14px;
        box-shadow: #66757F 4px 4px 0 0;
        padding: 6px 20px;
    }
    .btn-tarefas:hover, .btn-add-tarefas:hover{
        box-shadow: #74838e 3px 3px 0 0;
        padding: 4px 15px;
    }
    .rodape p {
        font-size: 10px;
    }
    .rodape {
        display: flex;
        flex-direction: column;
        gap: 0;
        justify-content: center;
        align-items: center;
        padding: 50px 0 20px 0;
    }
    .contato img{
        width: 30px;
        height: 30px;
    }
    /* Modal */
    .modal-add-tarefas {
        box-shadow: #EFAFAF 8px 8px 0 0;
        height: 180px;
        width: 250px;
        padding: 20px;
    }
}
@media (min-width: 501px) and (max-width: 1100px){
    body {
        background-repeat:inherit
    }
    .to-do-list {
        font-size: 70px;
        padding: 35px;
    }
    .tela-inicial {
        flex-direction: column;
    }
}

.hidden {
    display: none;
}